
/* Positioning */
#preview {
  overflow: hidden;
  max-width: 100%;
}
#preview, #preview #img {
  width: 600px;
  height: 435px;
}
#preview #gradient {
  position: absolute;
  left: 0;
  right: 0;
  top: 0px;
  width: 600px;
  height: 84px;
  z-index: 2;
  overflow: hidden;
}
#preview #text {
  position: absolute;
  left: 216px;
  width: 332px;
  top: 142px;
  height: 100px;
  z-index: 4;
}
#preview #img {
  position: relative;
  z-index: 3;
}
#preview #gradient .gradient-line {
  height: 11px;
}

/* Basic styles to match */
#preview {
  font: 11px/160% Verdana;
  font: 11px/160% Times;
}
#preview h2 {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: Helvetica, Arial, sans-serif;
  font-family: Times, serif;
  font-size: 160%;
  line-height: 120%;
}
#preview p {
  margin: .5em 0;
}
#preview a:link, #preview a:visited {
  text-decoration: none;
  font-weight: normal;
}
#preview a:hover {
  text-decoration: underline;
}
